.App {
  text-align: center;
  box-sizing: border-box
}

.containerApp {
    outline: 2px solid #fff;
    outline-offset: -8px;
    background-color: #f74b78;
    color: #fff;
    font-size: 17px;
   
    margin: 0 auto
}
 input{
   border-radius: 5px;
   width: 100px;
 }
i{
  font-size: 30px;
  color: #fff;
}
i:hover{
   font-size: 40px;
}

.iconStyle  {
    font-size: 48px;
    position: absolute;
    top: 26px;
    right: 15px;
    cursor: pointer;
    padding: 5px;
  }

  .meter { 
	height: 84px; 
	position: relative;
  background-image: url(./progress-bw-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
	padding: 10px;
}

.meter2 {
 
  display: block;
  min-width: 0%;
  height:84px;
  max-width: 100%;
  background-image: url(./progress-color.svg);
  position: absolute;
  left: 0px;
  top:0px;
  background-repeat: repeat-x;
  background-size: cover;
  overflow: hidden;
    
}