.App {
  text-align: center;
  box-sizing: border-box
}

.containerApp {
    outline: 2px solid #fff;
    outline-offset: -8px;
    background-color: #f74b78;
    color: #fff;
    font-size: 17px;
}
 input{
   border-radius: 5px;
   width: 100px;
 }
i{
  font-size: 30px;
  color: #fff;
}
i:hover{
   font-size: 40px;
}

