.App {
  text-align: center;
  box-sizing: border-box
}

.containerApp {
    outline: 2px solid #fff;
    outline-offset: -8px;
    background-color: #f74b78;
    color: #fff;
    font-size: 17px;
   
    margin: 0 auto
}
 input{
   border-radius: 5px;
   width: 100px;
 }
i{
  font-size: 30px;
  color: #fff;
}
i:hover{
   font-size: 40px;
}

.iconStyle  {
    font-size: 48px;
    position: absolute;
    top: 26px;
    right: 15px;
    cursor: pointer;
    padding: 5px;
  }

  .meter { 
	height: 40px; 
	position: relative;
  background-image: url(./progress-bw-light-96d82c64f20a376f32b16285193cbf0f.svg);
  background-repeat: no-repeat;
  background-size: cover;
	padding: 10px;
}

.meter2 {
 
  display: block;
    height: 40px;
    border: 1px solid red;
    background-image: url(./progress-color-69e8606201e12e0c1eb64c28a3acf414.svg);
   position: absolute;
   left: 5px;
   top:320px;
    background-repeat: repeat-x;
    background-size: cover;
    overflow: hidden;
    
}